.pending-wrapper {
}

.pending-hero {
  margin-top: 61px;
  padding: 54px 0;
  text-align: center;
  background: #f3f3f3;

  .heading {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.8;
  }

  .title {
    color: #898989;
  }
}

.main {
  margin-top: 30px;
  padding: 30px 27px 94px;
  .header {
    .heading {
      font-size: 3rem;
      font-weight: 500;
    }
  }
  // Body
  .body {
    margin-top: 20px;
    border: 1px solid #d4d4d4;
    width: 100%;
    padding: 15px;

    // pending
    .cash {
      .heading {
        color: #000;

        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.6;
      }
    }

    .bank {
      margin-top: 10px;
    }
  }

  // Table
  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    //   Table header
    .table-header {
      .title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
      }
    }

    // Table body
    .table-body {
      // Index
      .index {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.5;
      }

      .username {
        padding: 0 20px;
        max-width: 80%;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.6;
        text-align: left;
      }

      .price {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.6;
        text-align: center;
      }

      .number {
        width: 8%;
      }

      .name {
        width: 50%;
        word-break: break-word;
      }

      .address {
        width: 14%;
        word-break: break-word;
      }

      .type {
        width: 14%;
        word-break: break-word;
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 500;
      }

      .approve {
        width: 14%;
      }

      .product-list {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        row-gap: 26px;

        .product-name {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.6;
        }
      }
    }

    .table-item {
      border: 1px solid transparent;
      border-right-color: #d4d4d4;
      padding: 29px 0;
      color: #000;
      font-size: 1.7rem;
      font-weight: 500;
    }
    .table-item:last-of-type {
      border-right: none;
    }
  }
}

.row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  .img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    opacity: 0.5;
  }
  .img.active {
    opacity: 1;
  }
}
