.post-wrapper {
  .show-cart {
    display: inline-flex;
    z-index: 1;
  }
}

.post-hero {
  margin-top: 61px;
  padding: 54px 0;
  text-align: center;
  background: #f3f3f3;

  .heading {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.8;
  }

  .title {
    color: #898989;
  }
}

// Main ===============
.main {
  margin-top: 20px;
}

// Progress bar
.progress-bar {
  padding-top: 7px;
}

// Form
.form {
  margin-top: 30px;
  padding: 20px 170px 110px;
}
