.label {
  padding-left: 5px;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}

.input {
  margin-top: 7px;
  border-radius: 10px;
  border: 2px solid #605e5e;
  padding: 19px 17px;
  background: #fff;
  transition: all 0.5s;
}

.input:focus-within {
  border: 2px solid #020202;
}

.input-text {
  outline: none;
  border: none;
  font-size: 1.6rem;
  width: 100%;
  // padding-right: 33px;

  &::placeholder {
    color: #a9a9a9;
    font-weight: 400;
  }
}

.input-type {
  position: relative;
}

.input-list {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-48%);
}

.input-icon {
}

.input-show.active {
  display: block;
}

.input-show {
  display: none;
}

.input-hidden {
  display: none;
}

.input-hidden.active {
  display: block;
}

// Option
.option {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
